<!DOCTYPE html>
<html lang="en" ng-app="protoProfileApp">
<head>
    <meta charset="UTF-8">
    <title>DoubleDate Proto User Page</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script data-require="angularjs@1.3.6" data-semver="1.3.6" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.6/angular.js"></script>
    <script src="proto_profile_script.js"></script>
    <script src="profile_service.js"></script>
    <script src="proto_profile_controller.js"></script>
    <style>
        button {
            width: 10%;
        }
        td {
            border: 1px solid gray;
        }
    </style>
</head>
<body>
<div ng-controller="protoProfileController as pc">
    <h3>Operations:</h3>
    <div>
        <button id="add-button" ng-click="pc.onAddButton()">Add</button>
        <span>Fill in all the relevant data.</span>
    </div>
    <div>
        <button id="clear-button" ng-click="pc.onClearButton()">Clear</button>
        <span>Clear out the data in the service.</span>
    </div>
    <div>
        <button id="get-button" ng-click="pc.onGetButton()">Get</button>
        <span>Fill in username, and 'get' the rest.</span>
    </div>
    <div>
        <button id="update-button" ng-click="pc.onUpdateButton()">Update</button>
        <span>Use 'get' first, then change data and hit 'update'.</span>
    </div>
    <hr>
    <h3>Results:</h3>
    <p>Add Results: <span>{{pc.addResults}}</span></p>
    <p>Get Results: <span>{{pc.getResults}}</span></p>
    <p>Update Results: <span>{{pc.updateResults}}</span></p>
    <hr>
    <h3>Current Profile:</h3>
    <table>
        <tr>
            <td>Username:</td>
            <td><input id="add-get-username" ng-model="pc.addGetUsername" placeholder="username to get or add"></td>
            <td>username supplied for Get or Add option</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>{{pc.currentProfile.username}}</td>
            <td>username returned from the server from Get</td>
        </tr>

        <tr>
            <td>Profile ID:</td>
            <td>{{pc.currentProfile.profileId}}</td>
        </tr>
        <tr>
            <td>Picture Link:</td>
            <td><input type="text" ng-model="pc.currentProfile.pictureLink"></td>
        </tr>
        <tr>
            <td>Paragraph:</td>
            <td><input type="text" ng-model="pc.currentProfile.paragraph"></td>
        </tr>
        <tr>
            <td>Zip Code:</td>
            <td><input type="number" ng-model="pc.currentProfile.zipcode"></td>
            <td>Location Page</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>{{pc.currentProfile.city}}</td>
        </tr>
        <tr>
            <td>Longitude:</td>
            <td>{{pc.currentProfile.longitude}}</td>
        </tr>
        <tr>
            <td>Latitude:</td>
            <td>{{pc.currentProfile.latitude}}</td>
        </tr>
        <tr>
            <td>Distance Max:</td>
            <td><input type="number" ng-model="pc.currentProfile.distanceMax"></td>
        </tr>
        <tr>
            <td>Our Age Min:</td>
            <td><input type="number" ng-model="pc.currentProfile.ourAgeMin"></td>
            <td>Age Range Page</td>
        </tr>
        <tr>
            <td>Our Age Max:</td>
            <td><input type="number" ng-model="pc.currentProfile.ourAgeMax"></td>
        </tr>
        <tr>
            <td>Their Age Min:</td>
            <td><input type="number" ng-model="pc.currentProfile.theirAgeMin"></td>
        </tr>
        <tr>
            <td>Their Age Max:</td>
            <td><input type="number" ng-model="pc.currentProfile.theirAgeMax"></td>
        </tr>
        <tr>
            <td>Board Games:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.boardGames"></td>
            <td>At Home Interests</td>
        </tr>
        <tr>
            <td>Card Games:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.cardGames"></td>
        </tr>
        <tr>
            <td>Cooking:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.cooking"></td>
        </tr>
        <tr>
            <td>Conversation:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.conversation"></td>
        </tr>
        <tr>
            <td>Art Galleries:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.artGalleries"></td>
            <td>Out and About Interests</td>
        </tr>
        <tr>
            <td>Comedy:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.comedy"></td>
        </tr>
        <tr>
            <td>Classical Concerts:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.classicalConcerts"></td>
        </tr>
        <tr>
            <td>Popular Concerts:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.popularConcerts"></td>
        </tr>
        <tr>
            <td>Ballroom Dancing:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.ballroomDancing"></td>
        </tr>
        <tr>
            <td>Country Dancing:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.countryDancing"></td>
        </tr>
        <tr>
            <td>Salsa Dancing:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.salsaDancing"></td>
        </tr>
        <tr>
            <td>Casual Dining:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.casualDining"></td>
        </tr>
        <tr>
            <td>Fine Dining:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.fineDining"></td>
        </tr>
        <tr>
            <td>Karaoke:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.karaoke"></td>
        </tr>
        <tr>
            <td>Live Theater:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.liveTheater"></td>
        </tr>
        <tr>
            <td>Movies:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.movies"></td>
        </tr>
        <tr>
            <td>Wine Tasting:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.wineTasting"></td>
        </tr>
        <tr>
            <td>Bicycling:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.bicycling"></td>
            <td>Sporting Interests</td>
        </tr>
        <tr>
            <td>Bowling:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.bowling"></td>
        </tr>
        <tr>
            <td>Golf:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.golf"></td>
        </tr>
        <tr>
            <td>Hiking:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.hiking"></td>
        </tr>
        <tr>
            <td>Horseback Riding:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.horsebackRiding"></td>
        </tr>
        <tr>
            <td>Kayaking:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.kayaking"></td>
        </tr>
        <tr>
            <td>Motorcycling:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.motorcycling"></td>
        </tr>
        <tr>
            <td>Racquetball:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.racquetball"></td>
        </tr>
        <tr>
            <td>Tennis:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.tennis"></td>
        </tr>
        <tr>
            <td>Walking:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.walking"></td>
        </tr>
        <tr>
            <td>Camping:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.camping"></td>
            <td>Travel Interests</td>
        </tr>
        <tr>
            <td>RVing:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.rving"></td>
        </tr>
        <tr>
            <td>Domestic Travel:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.domesticTravel"></td>
        </tr>
        <tr>
            <td>Foreign Travel:</td>
            <td><input type="checkbox" ng-model="pc.currentProfile.foreignTravel"></td>
        </tr>
    </table>
</div>
</body>
</html>

