/*Log-in page */
.login_body, .welcome_body{
    background-color: #B2DFDB;
    overflow:visible;
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.2em;
    vertical-align: middle;
    position:relative;
}

.login_body::before{
    content:"";
    /*background-image: url("assets/get_started_background.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: top center;*/
    height:100%;
    width: 100%;
    position: absolute;
    /* opacity: 0.2; */
    /*filter: blur(6px);*/
}

.form-group {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(51%,47%);
    height: 32vh;
    width: 59%;
}

.form-control{
    width:90%;
    height:20%;
}

.login_body{
    height:95vh;
}

.forgotPW{
    font-size: 0.65em;
    position:relative;
    bottom: 38px;
}


/*welcome page*/
.welcome_body{
    font-size: 3em;
    position: absolute;
    bottom: 50%;
    right: 52.5%;
    transform: translate(54%,47%);
    height: 30vh;
    width: 77%;
}

.btn{
    background: #74ada0;
    border: black;
    display: inline-block;
    color:white;
}

.login_body .chevronButton:hover,
.login_body .chevronButton:focus,
.login_body .chevronButton:active,
.welcome_body .btn-default:hover,
.welcome_body .btn-default:focus,
.welcome_body .btn-default:active,
.open>.dropdown-toggle.welcome_body .btn .btn-default .chevronButton {
    background-color: #559385;
    color:white;
    /*border-color:;*/
    border: 2px #E9D555 solid;
}

.login_body .chevronButtonContainer{
    position: relative;
    bottom: 20%;
}

.login_body .chevronButtonContainer .chevronButton{
    position: absolute;
    right: 10%;

}