<div class="age_range">
    we want to meet other couples who are <span class="age">{{ac.age}}</span> years old.

    <div class="age-range-buttons">
        <p>{{match_age}}</p>
        <button type="button" class="btn btn-default age-btn" aria-label="Left Align" ng-click="ac.age='18-25'">18-25</button>
        <button type="button" class="btn btn-default age-btn" aria-label="Left Align" ng-click="ac.age='26-35'">26-35</button>
        <button type="button" class="btn btn-default age-btn" aria-label="Left Align" ng-click="ac.age='36-50'">36-50</button>
        <button type="button" class="btn btn-default age-btn" aria-label="Left Align" ng-click="ac.age='51-60'">51-60</button>
        <button type="button" class="btn btn-default age-btn" aria-label="Left Align" ng-click="ac.age='60+'">60+</button>
    </div>


    <div class="previous-next pull-right">
        <a href="#/user_age_range">
            <button type="button" class="btn btn-default chevronButton" aria-label="Left Align">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
        </a>
        <a href="#/interests_home">
            <button type="button" class="btn btn-default chevronButton" aria-label="Left Align">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </a>
    </div>
</div>