
<div>
	<a href="#/sample_match">
    <button type="button" class="btn btn-default btn-block" aria-label="Left Align"
            ng-click="itc.setTravelInterests();">show matches*
    </button>
    </a>	
    <p class ="sample_paragraph">
	*note that these aren't your best matches, just some samples.<br><br> 
  	</p>

  	<p>
  	to see your best matches: 
  	</p>
  
     <a href="#/signup_email">
        <button type="button" class="btn btn-default btn-block" aria-label="Left Align"
                ng-click="itc.setTravelInterests();">sign up here
        </button>
    </a>
</div>