<div class="edit_profile_body">
    <h1>Profile Editor</h1>

    <div class="profile-edit list-group">
        <!--<div class="profile-list list-group-item" ng-click="epc.names=!epc.names">Names</div>-->
        <!--<div class="profile-option" ng-show="epc.names">-->
            <!--<a href="#/signup_name"><button type="button">Names</button></a>-->
        <!--</div>-->

        <!--<div class="profile-list list-group-item" ng-click="epc.zip=!epc.zip">Search Distance</div>-->
        <div class="profile-option">
            <!--<a href="#/our_location"><button type="button">Zip Code</button></a>-->
            <a href="#/distance"><button type="button" class="btn">Search Distance</button></a>
        </div>

        <!--<div class="profile-list list-group-item" ng-click="epc.ages=!epc.ages">Ages</div>-->
        <div class="profile-option">
            <a href="#/our_age_range"><button type="button" class="btn">Our Age Range</button></a>
            <a href="#/their_age_range"><button type="button" class="btn">Their Age Range</button></a>
        </div>

        <!--<div class="profile-list list-group-item" ng-click="epc.paragraph=!epc.paragraph">Paragraph</div>-->
        <div class="profile-option">
            <!--<a href="#/signup_picture"><button type="button">Photograph of Us</button></a>-->
            <a href="#/signup_paragraph"><button type="button" class="btn">Paragraph</button></a>
        </div>

        <!--<div class="profile-list list-group-item" ng-click="epc.interests=!epc.interests">Interests</div>-->
        <div class="profile-option">
            <a href="#/interests_home"><button type="button" class="btn">Interests at Home</button></a>
            <a href="#/interests_out"><button type="button" class="btn">Interests Out</button></a>
            <a href="#/interests_outdoors"><button type="button" class="btn">Interests Outdoors</button></a>
            <a href="#/interests_travel"><button type="button" class="btn">Interests Travel</button></a>
        </div>

      </div>
    </div>