to stay active we like
<div class="outdoors-about groupings">
    <div class="interest-buttons">
        <div class="outdoor groupings">
            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.bicycling=!iod.bicycling; iod.$log.log(iod.bicycling)"
                    ng-class="{buttonHighlighted: iod.bicycling}">bicycling</button>
            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.bowling=!iod.bowling; iod.$log.log(iod.bowling)"
                    ng-class="{buttonHighlighted: iod.bowling}">bowling</button>
            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.golf=!iod.golf; iod.$log.log(iod.golf)"
                    ng-class="{buttonHighlighted: iod.golf}">golfing</button>

            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.hiking=!iod.hiking; iod.$log.log(iod.hiking)"
                    ng-class="{buttonHighlighted: iod.hiking}">hiking</button>
            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.horsebackRiding=!iod.horsebackRiding; iod.$log.log(iod.horsebackRiding)"
                    ng-class="{buttonHighlighted: iod.horsebackRiding}">horseback-riding</button>
            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.kayaking=!iod.kayaking; iod.$log.log(iod.kayaking)"
                    ng-class="{buttonHighlighted: iod.kayaking}">kayaking/paddleboarding</button>

            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.motorcycling=!iod.motorcycling;iod.$log.log(iod.motorcycling)"
                    ng-class="{buttonHighlighted: iod.motorcycling}">motorcycling</button>
            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.racquetball=!iod.racquetball; iod.$log.log(iod.racquetball)"
                    ng-class="{buttonHighlighted: iod.racquetball}">racquetball</button>
            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.tennis=!iod.tennis; iod.$log.log(iod.tennis)"
                    ng-class="{buttonHighlighted: iod.tennis}">tennis</button>

            <button type="button" class="btn btn-default interest-btn-active" aria-label="Left Align"
                    ng-click="iod.walking=!iod.walking; iod.$log.log(iod.walking)"
                    ng-class="{buttonHighlighted: iod.walking}">walking</button>
        </div>
    </div>
</div>

<div class="previous-next pull-right">
    <a href="#/interests_out">
        <button type="button" class="btn btn-default chevronButton" aria-label="Left Align" ng-click="iod.setOutdoorInterests()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
    </a>
    <a id="myAnchor" href="#/interests_travel">
        <button type="button" class="btn btn-default chevronButton" aria-label="Left Align"
                ng-click="iod.setOutdoorInterests(); iod.interestRequired()">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </a>
</div>