
<div>
    <h1>when traveling we like</h1><p class="input-fyi">(select at least one interest)</p>
    <div class="interest-buttons">
        <div class="at-home groupings">
            <button type="button" class="btn btn-default interest-btn-travel" aria-label="Left Align"
                    ng-click="itc.camping=!itc.camping; itc.travelInterestButtonClicked();"
                    ng-class="{buttonHighlighted:itc.camping}">camping
            </button>

            <button type="button" class="btn btn-default interest-btn-travel" aria-label="Left Align"
                    ng-click="itc.domesticTravel=!itc.domesticTravel; itc.travelInterestButtonClicked();"
                    ng-class="{buttonHighlighted:itc.domesticTravel}">domestic
                travel</button>
            <button type="button" class="btn btn-default interest-btn-travel" aria-label="Left Align"
                    ng-click="itc.rving=!itc.rving; itc.travelInterestButtonClicked();"
                    ng-class="{buttonHighlighted:itc.rving}">RV
                -ing</button>
            <button type="button" class="btn btn-default interest-btn-travel" aria-label="Left Align"
                    ng-click="itc.travelAbroad=!itc.travelAbroad; itc.travelInterestButtonClicked();"
                    ng-class="{buttonHighlighted:itc.travelAbroad}">traveling
                abroad</button>
        </div>
    </div>

    <div class="previous-next pull-right">
        <a href="#/interests_outdoors">
            <button type="button" class="btn btn-default chevronButton" aria-label="Left Align" ng-click="itc.setTravelInterests()">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
        </a>
        <button type="button" class="btn btn-default chevronButton" aria-label="Left Align" ng-click="itc.setUrl()">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>

    </div>

</div>
