<div class="match_content">
    <p>{{mc.results}}</p>
    <div ng-repeat="match in mc.matches">
        <p>Match {{$index+1}} of {{mc.matches.length}}</p>
        <div class="match_card">
            <img class="img-responsive match_image" src="{{match.pictureLink}}" alt="Match Image">
            <p>{{match.name}} in {{match.city}}</p>
            <p>"{{match.paragraph}}"</p>
            <p>Common interests: {{match.commonInterestString}}</p>
        </div>
        <div class="match_buttons">
            <button type="button" class="btn btn_match thumbs" ng-click="mc.approveOrReject($index, false)">
                <span class="glyphicon glyphicon-thumbs-down"></span>
            </button>
            <button type="button" class="btn btn_match thumbs" ng-click="mc.approveOrReject($index, true)">
                <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
        </div>
        <p>{{match.approveOrRejectResults}}</p>
        <hr>
    </div>
    <br>
    <button type="button" class="btn btn-default btn-block" aria-label="refresh / check for more"
        ng-click="mc.getMatches()">
        refresh / check for more
    </button>
</div>
