<div class="signup-paragraph-page">
    <p>enter a short paragraph about yourselves:</p>
    <p class="input-fyi"><strong>do</strong> mention key interests and other preferences like 'no smokers'<br><strong>don't</strong> give any identifying information like last names, e-mails, or telephone numbers</p>

    <!--<p class="input-fyi textbox-fyi"> (limit 200 characters) </p>-->
    <textarea rows="7" cols="30" maxlength="200" ng-model="spc.paragraph" name="paragraph" ng-disabled="spc.paragraph.length==200">
    </textarea>
    <p class="input-fyi textbox-fyi">characters left: {{spc.maxLength-spc.paragraph.length}}</p>

    <button type="button" class="btn btn-default btn-block welcome_button"
            ng-click="spc.signUpParagraphButtonClick()" aria-label="Submit" ng-hide="spc.loggedIn">submit</button>
    <p class="alert alert-danger alert-dismissible fade in paragraph-minimum" ng-hide="spc.validationText">Please add a paragraph
        of at least 50 characters.
    </p>

    <!-----------Save and Cancel buttons-------------->
    <div class="edit-profile-buttons" ng-show="spc.loggedIn">
        <button type="button" class="btn btn-default chevronButton" aria-label="Save"
                ng-click="spc.clickSaveButton();">
            Save
        </button>

        <a href="#/edit_profile">
            <button type="button" class="btn btn-default chevronButton" aria-label="Cancel">
                Cancel
            </button>
        </a>
    </div>
</div>

