<div class="age_range">
    <h1>we want to meet other couples who are  <span class="age"> {{tac.theirAgeRange()}}</span> years old.</h1> <p class="input-fyi">(select one or more)</p>

    <div class="age-range-buttons">
        <button type="button" class="btn btn-default age-btn" aria-label="18-25"
                ng-click="tac.rangeButtonClicked(18, 25)"
                ng-class="{buttonHighlighted: tac.theirAgeMin <= 18 && tac.theirAgeMax >= 25}">18-25
        </button>
        <button type="button" class="btn btn-default age-btn" aria-label="26-35"
                ng-click="tac.rangeButtonClicked(26, 35)"
                ng-class="{buttonHighlighted: tac.theirAgeMin <= 26 && tac.theirAgeMax >= 35}">26-35
        </button>
        <button type="button" class="btn btn-default age-btn" aria-label="36-50"
                ng-click="tac.rangeButtonClicked(36, 50)"
                ng-class="{buttonHighlighted: tac.theirAgeMin <= 36 && tac.theirAgeMax >= 50}">36-50
        </button>
        <button type="button" class="btn btn-default age-btn" aria-label="51-60"
                ng-click="tac.rangeButtonClicked(51, 60)"
                ng-class="{buttonHighlighted: tac.theirAgeMin <= 51 && tac.theirAgeMax >= 60}">51-60
        </button>
        <button type="button" class="btn btn-default age-btn" aria-label="61+"
                ng-click="tac.rangeButtonClicked(61, 100)"
                ng-class="{buttonHighlighted: tac.theirAgeMin <= 61 && tac.theirAgeMax >= 100 }">61+
        </button>
    </div>

    <!-----------Previous and Next buttons-------------->
    <div class="previous-next pull-right" ng-hide="tac.loggedIn">
        <a href="#/our_age_range">
            <button type="button" class="btn btn-default chevronButton" aria-label="Previous">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
        </a>

            <button type="button" class="btn btn-default chevronButton" aria-label="Next" ng-click = 'tac.setTheirAge()'
                    ng-disabled='!tac.theirAgeMin'>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
    </div>

    <!-----------Save and Cancel buttons-------------->
    <div class="edit-profile-buttons" ng-show="tac.loggedIn">
        <button type="button" class="btn btn-default chevronButton" aria-label="Previous"
                ng-click="tac.clickSaveButton();">
            Save
        </button>

        <a href="#/edit_profile">
            <button type="button" class="btn btn-default chevronButton" aria-label="Next">
                Cancel
            </button>
        </a>
    </div>
</div>