
<div class="location">
    where are you?
    <div class="match-locale">
        <input type="text" maxlength='5' placeholder="zip code" class="input_text" ng-change='ulc.checkMaxZip(ulc.userInputZip)' ng-model="ulc.userInputZip" ng-blur="ulc.getUserLocation(ulc.userInputZip)" >
        <button type="button" class="btn btn-default btn-block current-location">use my current location</button>

    <div class="previous-next pull-right">
        <a href="#/welcome">
            <button type="button" class="btn btn-default chevronButton" aria-label="Left Align">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
        </a>
        <!-- <a href="#/location"> -->
            <button type="button" class="btn btn-default chevronButton" aria-label="Left Align" ng-click="ulc.setUserLocation(ulc.userInputZip)">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </a>
    </div>
</div>









